:root {
  --light-grey: #f2f2f2;
  --light-grey-bc: #f3f9fa;
  --dark-grey: #5e7a7d;
  --dark-grey-bc: #979797;
  --dark-blue: #226596;
  --light-blue: #94e5ff;
  --light-blue-green: #1ce6f3;
  --font-dark-blue: #5e7a7d;
  --border-dark-grey: #979797;
  --size-h1: 12px;
  --white: #fff;
  --black: #000;
}
/* General */
body {
  background-color: var(--light-grey);
  font-family: "Space Mono", monospace;
  font-size: var(--size-h1);
  font-weight: 400;
}
button {
  font-family: "Space Mono", monospace;
  border: 1px solid var(--dark-blue);
}

/* Header  */
.Header {
  background-color: var(--dark-blue);
  color: var(--light-blue);
  display: grid;
  grid-template-columns: 100px 2fr 1fr;
}
.Header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header-logo img {
  width: 47px;
  height: 47px;
}
.Header-me-logo {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 26px;
  height: 100%;
}
.Header-me-logo img {
  width: 56px;
  height: 56px;
}
/* Navbar */
.Navbar {
  display: flex;
  gap: 15px;
  padding-top: 40px;
  margin-left: 12px;
}
.Navbar-button {
  background-color: var(--light-blue);
  height: 38px;
  width: 240px;
  letter-spacing: 2.5px;
  font-weight: 500;
  background-color: var(--light-blue);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.Navbar-button:hover {
  background-color: var(--dark-blue);
  color: var(--white);
  box-shadow: 0px 15px 20px var(--dark-blue);
  transform: translateY(-3px);
}
.Navbar-button.new {
  margin-left: 8px;
}
.Navbar-button .Link {
  color: var(--dark-blue);
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  width: 100%;
  cursor: pointer;

  padding-left: 62px;
  padding-right: 62px;
}
.Navbar-button:hover {
  color: var(--white);
}
.Navbar-button .Link:hover {
  color: var(--white);
}
/* CarPage */
.CarPage {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
}
.CarPage-menu {
  width: 220px;
  background-color: var(--white);
  color: var(--font-dark-blue);
  border-radius: 10px;
  margin-top: 20px;
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 12px;
}
.CarPage-menu h3 {
  padding-left: 6px;
}
.Car-search-input {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}
.Car-search-input input {
  width: 200px;
  height: 28px;
  background-color: var(--light-grey-bc);
  border: 1px solid var(--dark-grey-bc);
  font-size: 14px;
}
.Car-search-input input:hover {
  border: 2px solid var(--light-blue-green);
}
.CarPage-all-button {
  display: flex;
  justify-content: center;
}
.CarPage-serie,
.CarPage-brand {
  background-color: var(--light-grey-bc);
  border: 1px solid var(--dark-grey-bc);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  height: 160px;
  width: 200px;
  overflow-y: scroll;
  border-radius: 10px;
}

.CarPage-selection-button {
  background-color: var(--dark-blue);
  color: var(--white);
  width: 180px;
  border-radius: 26px;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: left;
  padding-left: 12px;
}
.CarPage-selection-button:hover {
  background-color: var(--light-blue);
}
.CarPage-selection-button:active {
  background-color: var(--light-blue);
  color: var(--black);
  border: 2px solid var(--dark-blue);
}
.CarPage-main {
  background-color: var(--white);
  border-radius: 10px;
  margin-left: 14px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 16px;
  position: absolute;
  left: 280px;
}
.CarPage-count {
  margin-bottom: 12px;
}
.CarPage-count span {
  color: var(--dark-grey);
  font-size: 16px;
  font-weight: bold;
}
.CarPage-cards {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}
/* CarCard */

.CarCard {
  background-color: var(--dark-blue);
  margin: 8px;
  width: 220px;
  height: 286px;
  border-radius: 10px;
}
.CarCard:hover {
  background-color: var(--light-blue);
  color: var(--white);
  box-shadow: 0px 15px 20px var(--dark-blue);
  transform: translateY(-3px);
  cursor: pointer;
}
.CarCard-delete {
  display: flex;
  justify-content: flex-end;
  margin-right: 24px;
  padding-top: 8px;
  /* margin-bottom: 12px; */
}
.CarCard-delete .gg-close {
  color: var(--dark-blue);
  width: 4px;
  cursor: pointer;
}
.CarCard-image {
  width: 100%;
  display: flex;
  justify-content: center;
}
.CarCard-image img {
  width: 188px;
  height: 146px;
  border-radius: 10px;
}
.CarCard h2 {
  font-size: 14px;
  color: var(--white);
  margin: 0;
  font-weight: 400;
  margin-top: 8px;
  margin-left: 16px;
}
.CarCard h3 {
  font-size: 12px;
  color: var(--white);
  margin: 0;
  font-weight: 400;
  margin-top: 4px;
  margin-left: 16px;
}
.CarCard-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
.CarCard-button button {
  width: 190px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}
/* CardForm */
.CardForm {
  background-color: var(--white);
  border-radius: 10px;
  margin-top: 26px;
}
.CardForm-Form {
  display: flex;
  justify-content: center;
}
.CardForm-title {
  display: flex;
  justify-content: center;
}
.CardForm-Form-create {
  display: grid;
  background-color: var(--light-grey-bc);
  border: 1px solid var(--border-dark-grey);
  border-radius: 10px;
  width: 460px;
  padding-top: 14px;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
  box-shadow: 0px 1px 1px var(--dark-blue);
  transform: translateY(-2px);
}
.CardForm-Form-create label {
  font-size: 16px;
  color: var(--font-dark-blue);
  font-weight: bold;
  width: 90%;
  margin-left: 22px;
  margin-top: 10px;
}
.CardForm-Form-create input {
  height: 30px;
  border: 1px solid var(--border-dark-grey);
  margin-top: 4px;
  margin-bottom: 8px;
  width: 90%;
  margin-left: 22px;
  font-size: 14px;
}
.CardForm-Form-create button {
  margin-top: 22px;
  margin-bottom: 22px;
  width: 120px;
  height: 30px;
  justify-self: center;
  background-color: var(--light-blue);
  font-size: 14px;
  font-weight: bold;
  border: 0px;
  border-radius: 6px;
  cursor: pointer;
  color: var(--dark-blue);
}
.CardForm-photo-create {
  display: none;
}
.CardForm-logo {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
.CardForm-logo img {
  width: 100px;
  height: 100;
}

.CardForm-Form-edit {
  display: grid;
  background-color: var(--dark-blue);
  border: 1px solid var(--border-dark-grey);
  border-radius: 10px;
  width: 420px;
  padding-top: 14px;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
  box-shadow: 0px 1px 1px var(--dark-blue);
  transform: translateY(-2px);
}
.CardForm-Form-edit label {
  font-size: 16px;
  color: var(--white);
  font-weight: bold;
  width: 90%;
  margin-left: 22px;
  margin-top: 10px;
}
.CardForm-Form-edit input {
  height: 30px;
  border: 1px solid var(--border-dark-grey);
  margin-top: 4px;
  margin-bottom: 8px;
  width: 90%;
  margin-left: 22px;
  font-size: 14px;
  background-color: var(--light-grey-bc);
}
.CardForm-Form-edit button {
  margin-top: 22px;
  margin-bottom: 22px;
  width: 120px;
  height: 30px;
  justify-self: center;
  background-color: var(--light-blue);
  font-size: 14px;
  font-weight: bold;
  border: 0px;
  border-radius: 6px;
  cursor: pointer;
  color: var(--dark-blue);
}
.CardForm-logo {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
.CardForm-logo img {
  width: 100px;
  height: 100;
}
.CardForm-Link-edit {
  display: none;
}
.CardForm-photo-edit {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  border-radius: 10px;
}
.CardForm-photo-edit img {
  width: 90%;
  /* height: 300px; */
  border-radius: 10px;
}
.gg-search,
.gg-close-o {
  display: none;
}
@media only screen and (max-width: 500px) {
  .gg-search,
  .gg-close-o {
    display: flex;
  }
  .Header h1 {
    font-size: 16px;
    margin: 4px;
  }
  .Header-logo img {
    height: 36px;
    width: 36px;
  }
  .Header-me-logo img {
    width: 46px;
    height: 46px;
  }
  .Navbar {
    padding-top: 18px;
    display: grid;
    justify-content: center;
  }
  .Navbar-button {
    width: 220px;
    height: 28px;
  }
  .Navbar-button.new {
    margin: 0;
    display: flex;
    /* padding-top: 5px; */
  }
  .Navbar-button .Link {
    font-size: 16px;
    padding: 0;
  }

  .CarPage-main {
    display: grid;

    left: 0;
  }
  .CarPage-count {
    padding-left: 12px;
  }
  .CarPage-cards {
    display: flex;
    justify-content: center;
    margin-top: 12px;
  }
  .CardForm-title h1 {
    font-size: 20px;
  }
  .CardForm-Form-create,
  .CardForm-Form-edit {
    width: 320px;
    padding-right: 10px;
  }
  .CardForm-Form-create label {
    margin-left: 18px;
    font-size: 14px;
  }
  .CardForm-Form-create input {
    margin-left: 16px;
    margin-right: 26px;

    font-size: 12px;
  }

  .CardForm-Form-edit label {
    margin-left: 18px;
    font-size: 14px;
  }
  .CardForm-Form-edit input {
    margin-left: 16px;
    /* margin-right: 26px; */
    padding-right: 2px;
    font-size: 12px;
  }
  .CardForm-photo-edit img {
    width: 286px;
  }
  .CarPage-menu {
    display: none;
    z-index: 2;
    padding-bottom: 12px;
  }
  .CarPage-search-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .CarPage-count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 14px;
    color: var(--dark-grey);
    font-size: 16px;
  }
}
